* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: #333;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 65%;
   background-color: rgb(224, 224, 224);
   padding: 5%;
}
.inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.film {
    flex-basis: calc(25% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
} 

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

