* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin-top: 30px;
    font-family: Arial, sans-serif;
    color: #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 80%;
   background-color: rgb(224, 224, 224);
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 5%;
   padding-bottom: 5%;
}
.inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
}

.film {
    width: 20%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}
.film:hover {
    cursor: pointer;
    filter: brightness(50%);
}

img {
    width: 100%;    
}
h1 {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 50px;
}
h2 {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 2vw;
}

p {
    font-size: 1vw;
    line-height: 1.5;
    margin-bottom: 20px;
}
.footer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
#loadMore {
    font-size: 1.5vw;
    bottom: 20px;
    color: #ccc;
    border: none;
    background-color: #ffffff;
}
#loadMore:hover {
    color: #333;
    cursor: pointer;
}
.trailer-button {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    border: none;
    padding: 5%;
    font-size: 1vw;
    width: 70%;
}

.film:hover .trailer-button {
    display: block;
}
