.container-2{
    margin-top: 50px;
    background-color: rgb(206, 206, 206);
    width: 80%;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    
}

.section, .section-2 {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem; 
}

.find-room {
    color: rgb(169, 169, 169);
    border: solid 1px grey;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    height: 46px;
    width: 378px;
}

.research{
    font-weight: bold;
    color: black;
    background-color: rgb(255, 200, 0);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1px;
    margin-top: auto;
    margin-bottom: auto;
  	border: solid 0px;
    height: 46px;
    width: 189px;
}

.connect p{
    color: rgb(0, 0, 193);
    margin-top: 15px;
    align-self: center;
    
}

.connect{
    margin-top: auto;
    margin-bottom: auto;
}

@media (max-width: 1200px){
    .container-2 {
        display: flex;
        flex-direction: column;
    }
}

